//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug

//- This is how we insert dynamic content to extended templates
block content
    body
    <div id="header">
    <h1> CRUD APP </h1>

    <ul>
    <li>
    a(class = "nav" , href = 'users/new') Add </a>
    <li>
    a(class = "nav" , href = 'users/view') View </a>
    <li>
    a(class = "nav" , href = 'users/edit') Edit </a>
    <li>
    a(class = "nav" , href = '') Delete </a>