extends ../../../templates/master.pug

block content
    form(method="POST" action="/users/edit")
        .field
            .label ID Please type the specific vehicle ID
            .control
                input.input(type="number" placeholder="(ex. 1,2,3, ...)" name="id")
        .field
            .label Make
            .control
                input.input(type="text" placeholder="(ex. Toyota,Honda, ...)" name="make")
        .field
            .label Model
            .control
                input.input(type="text" placeholder="(ex. Vios,City, ...)" name="model")
        .field
            .label Year
            .control
                input.input(type="number" placeholder="(ex. 2000,2015, ...)" name="year")
        .field
            .label Plate Number
            .control
                input.input(type="text" placeholder="(ex. ABC123,NJK489, ...)" name="plateNo")
        .field
            .label Condition
            .control
                input.input(type="text" placeholder="(Brand New or Pre-Owned)" name="condi")
        input(type="submit" value="Submit")