
html
    head
        
        title Welcome User!

        link(rel="stylesheet" href="/assets/bulma/bulma.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")

    body

        div.section
            div.container
                //- This part right here is the dynamic content. Once you extend
                //- this template, you can place anything here.
                
                // This comment marks the dynamic content
                block content