
html
    head
        body
            block content
            title Welcome User!

            link(rel="stylesheet" href="/assets/bulma/bulma.css")
            link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
            link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/layout.css")